<h2>{{receiver.callsign}}</h2>
<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal receiver-details">
      <dt class="label label-default">Description</dt>
      <dd>{{ receiver.description }}</dd>
      <dt class="label label-default" ng-if="stats">Location</dt>
      <dd ng-if="stats">
        <a href="http://ognrange.onglide.com/#{{receiver.callsign}}">
          {{ stats.lt }}&deg;, {{ stats.lg }}&deg;
        </a>
      </dd>
      <dt class="label label-default">Country</dt>
      <dd>{{ receiver.country }}</dd>
      <dt class="label label-default">Contact</dt>
      <dd>{{ receiver.contact }}</dd>
      <dt class="label label-success" ng-if="stats.u == 'U'">up since</dt>
      <dt class="label label-danger" ng-if="stats.u == 'D'">down since</dt>
      <dt class="label label-warning" ng-if="stats.u == 'B'">bouncing since</dt>
      <dd ng-if="stats.u">{{stats.ut}}</dd>
      <dt class="label label-default" ng-if="receiver.links[0]">Links</dt>
      <dd ng-if="receiver.links[0]" ng-repeat="link in receiver.links">
        <a href="{{link.href}}">{{link.rel}}</a>
      </dd>
    </dl>
  </div>
  <img src="{{receiver.image}}" class="receiver-image"/>
</div>
<div class="row">
  <div class="col-md-4" ng-repeat="photo in receiver.photos">
    <a href="{{photo}}" class="thumbnail"><img ng-src="{{photo}}"style="width:150px;height:150px"/></a>
  </div>
</div>
<a href="#/receivers">back</a>
