<div class="row">
  <div class="jumbotron">
    <h1>OGN list of receivers</h1>
    <p>
      The <a href="http://wiki.glidernet.org" target="_blank">OpenGliderNetwork</a> is a centralized network focused on tracking
      of aircrafts equipped with <a href="https://flarm.com">FLARM</a>, FLARM-compatible devices or
      <a href="http://wiki.glidernet.org/ogn-tracker">OGN tracker</a>.
      This page shows all registered OGN receivers.
    </p>
    <a href="about.html">About</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-right">
      Last update from <a href="http://wiki.glidernet.org/list-of-receivers" target=_blank">wiki.glidernet.org</a> (hourly): {{receiversdb_timestamp}}
    </p>
  </div>
</div>
<div class="row">
<div class="col-md-12">
  Search: <input ng-model="query" placeholder="e.g. Diapason"><span>
  <input type="checkbox" ng-model="show_unregistered" />Show unregistered</span>
  <table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Callsign</th>
        <th>Location</th>
        <th>Country</th>
        <th>Contact</th>
        <th>Status</th>
        <th>Privacy</th>
        <th></th>
    </thead>
    <tbody>
      <tr class="clickable" ng-repeat-start="receiver in receivers_list | filter:in_rdb | filter:query" ng-click="toggle(receiver)">
        <td>{{$index +1}}</td>
        <td><a href="#/receivers/{{receiver.callsign}}">{{receiver.callsign}}</a></td>
        <!--          <td><img ng-src="http://ognrange.onglide.com/perl/availability.pl?station={{receiver.callsign}}"/></td>-->
        <td>
          <div ng-if="receiver.stats">
            <a href="http://ognrange.onglide.com/#{{receiver.callsign}}">
              {{ receiver.stats.lt }}&deg;, {{ receiver.stats.lg }}&deg;
            </a>
          </div>
        </td>
        <td>{{receiver.rdb.country}}</td>
        <td>{{receiver.rdb.contact}}</td>
        <td>
          <div ng-if="receiver.stats">
            <span class="label label-success" ng-if="receiver.stats.u == 'U'">up</span>
            <span class="label label-danger" ng-if="receiver.stats.u == 'D'">down</span>
            <span class="label label-warning" ng-if="receiver.stats.u == 'B'">bouncing</span>
          </div>
        </td>
        <td>
          <div ng-if="receiver.privacy">
            <span class="label label-success" ng-if="receiver.privacy.respects_ddb">ok</span>
            <span class="label label-danger" ng-if="!receiver.privacy.respects_ddb">!</span>
          </div>
        </td>
        <td>
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true" ng-show="!receiver.showDetails"></span>
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true" ng-show="receiver.showDetails"></span>
        </td>
      </tr>
      <tr ng-repeat-end ng-if="receiver.showDetails">
        <td colspan='8'>
          <div>
              <p>{{receiver.rdb.description}}</p>
              <div class="row">
                <div class="col-md-4" ng-repeat="photo in receiver.rdb.photos">
                  <a href="{{photo}}" class="thumbnail"><img ng-src="{{photo}}"style="width:150px;height:150px"/></a>
                </div>
              </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
